

.material-symbols-outlined{
    vertical-align: middle;
}
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    min-height: 100vh;
}

#sidebar {  
    background: #0099CC ;
    color: #fff;
    transition: all 0.3s;
}



#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}



a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    /* padding: 20px; */
    min-height: 100svh;
    transition: all 0.3s;
    
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

 @media (min-width: 0px) { 
    #sidebar {
        min-width: 100%;
        display: none;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #navigation{
    display:block;
    }
    
 }
 @media (min-width: 768px) { 
    #sidebar {
        display: block;
        min-width: 270px;
        max-width: 270px;
        margin-left: 0px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #navigation{
    display:none;
    }
    #CloseNav{
        display: none;
    }
    
 } 

.show{
    display:block;
}
.hide{
    display:none;
}

#navBarLogo{
    filter: brightness(0%);
    height:2rem; 
    -webkit-transform: scale(1.5);
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    -ms-transform: scale(2.5);
    transform: scale(2.5);
}
#sideBarLogo{
    text-align: center;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    margin-inline: auto;
}