

.navigation-item {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.navigation-item.active {
  background-color: #0099CC;
  color: #fff;
}

#card :hover{
  cursor: pointer;
  transform: scale(1.01);
}

/* 

@media only screen and (min-width: 0em) {
    #bottom-navigation{
        width: 100%;
    }
}


@media only screen and (min-width: 48em) {
    #bottom-navigation{
        width: 100%;
    }
} */