
#container{
    border-radius: 20px;
}
        @media only screen and (min-width: 0em) {
    #container{
        width: 90%;
    }
    #img{
        border-radius:20px 20px 0px 0px;
    }
    
}
.material-symbols-outlined{
    vertical-align: middle;
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
    #container{
        width: 75%;
    }
    #img{
        border-radius:20px 0px 0px 20px;
    }
}